
{% load count-cart-item %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">        
      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'core:productlists' %}">
        <strong class="blue-text">H-Ecommerce</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
      {% if request.user.is_authenticated %}
        
        {% if request.user.is_superuser %}
        
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'core:productlists' %}">Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>
           {% else %}

           <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'core:productlists' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

           <li class="nav-item dropdown ml-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'core:display-category' category='E'%}">Electronic</a>
              <a class="dropdown-item" href="{% url 'core:display-category' category='S'%}">Shirt</a>
              <a class="dropdown-item" href="{% url 'core:display-category' category='U'%}">Utility</a>
            </div>
          </li>
        {% endif %}        
      {% endif %}
        
        </ul>
        <!-- Right -->

        <ul class="navbar-nav nav-flex-icons">
        {% if request.user.is_authenticated %}
        
        {% if request.user.is_superuser %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'core:order-summary' %}">
            <span class="badge red z-depth-1 mr-1"> {{request.user|cart_item_count}} </span>                     
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
          </a>
        {% endif %}
          
          </li>
          
        {% endif %}
                  
          {% if request.user.is_authenticated %} 
          
            {% if request.user.is_superuser %}
              <li class="nav-item">
                <a href="" class="nav-link"> {{request.user}}    </a>
              </li>
              <li class="nav-item">
                <form action="{% url 'account:log_out' %}" method="POST">
                  {% csrf_token %}
                   <input type="submit" value="Log out" class="nav-link border border-light rounded waves-effect">                   
                </form>
              </li>

              {% else %}
              
              <li class="nav-item">
                
                  <a href="{% url 'core:notifications' %}" class="nav-link  mybg">
                    
                      <i class="far fa-bell"></i> <span class="badge badge-light ml-2">{{request.user|notification_count}}</span>
                    
                  </a>
              </li>
              <li class="nav-item dropdown">
                <a href="" class="nav-link border border-light rounded waves-effect dropdown-toggle"
                  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="far fa-user mr-2"></i>{{user}} 
                </a> 
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a href="{% url 'core:order-snippet' %}" class="dropdown-item">Order Snippet</a>
                </div>                   
              </li>

              <li class="nav-item ml-3">
                <form action="{% url 'account:log_out' %}" method="POST">
                  {% csrf_token %}
                   <input type="submit" value="Log out" class="nav-link border border-light rounded waves-effect"> 
                  
                </form>
                
              </li>
            {% endif %}                  

          {% else %}

          <li class="nav-item">
            <a href="{% url 'account:log_in' %}" class="nav-link border border-light rounded waves-effect"
              >
              <i class="fas fa-sign-in-alt mr-2"></i>Log in
            </a>                    
          </li>
          <li class="nav-item ml-2">
            <a href="{% url 'account:sign_up' %}" class="nav-link border border-light rounded waves-effect"
              >
              <i class="fas fa-user-plus mr-2"></i>Sign Up
            </a>                    
          </li>
          {% endif %}
          
        </ul>

      </div>

    </div>
  </nav>
