{% extends 'base_layout.html' %}
{% block content %}
{% load count-cart-item %}

{% if request.user.is_authenticated %}
    
    {% if request.user.is_superuser %} 

    <div class="row">
      <div class="col-md-4 custom-card mt-3 ml-3" style="background-color: #697FEF">
        <div class="row">
          <div class="col-lg-12 text-center mt-3 text-white">
            <h1 class="">Inventory</h1>
          </div>
          
        </div>
        <div class="row">
          <div class="col-lg-12 text-center mt-2 mb-3 text-white">
            <h1 class="">{{items_count}}</h1>
          </div>
        </div>
      </div>   
      
      <div class="col-md-4 custom-card ml-3 mt-3" style="background-color: #0093D5">
        <div class="row">
          <div class="col-lg-12 text-center mt-3 text-white">
            <h1 class="">Pending Ordered</h1>
          </div>
          
        </div>
        <div class="row">
          <div class="col-lg-12 text-center mt-2 mb-3 text-white">
            <h1 class="">{{order_count}}</h1>
          </div>
        </div>
      </div>  

      <div class="col-md-3 custom-card ml-3 mt-3" style="background-color: #EF6969">
        <div class="row">
          <div class="col-lg-12 text-center mt-3 text-white">
            <h1 class=""> Ordered</h1>
          </div>
          
        </div>
        <div class="row">
          <div class="col-lg-12 text-center mt-2 mb-3 text-white">
            <h1 class="">{{ordered_count}}</h1>
          </div>
        </div>
      </div> 
    </div>   
    
    <div class="row mb-5 mt-5">
      <div class="col-lg-4">
        <h3>
          Product
        </h3>
          <div class="row">
            
            <div class="col-lg-5">
              <a href="{% url 'myadmin:upload-product' %}" class=>
                <div class="custom-card text-center">
                  <i class="fas fa-upload fa-3x pt-3 pb-3 text-white"></i>
                  <span>
                    <p class="pb-2 text-dark">Upload Product</p>
                  </span>
                </div>
              </a>
            </div>

            <div class="col-lg-5">
              <a href="{% url 'myadmin:updateproductlist' %}" class=>
                <div class="custom-card text-center">
                  <i class="far fa-edit fa-3x pt-3 pb-3 text-white"></i>
                  <span>
                    <p class="pb-2 text-dark">Update Product</p>
                  </span>
                </div>
              </a>
            </div>

          </div>
        
      </div>

      <div class="col-lg-4">
        <h3>
          Orders
        </h3>
          <div class="row">
            
            <div class="col-lg-5">
              <a href="{% url 'myadmin:pendingorders' %}" class=>
                <div class="custom-card text-center">
                  <i class="far fa-clock fa-3x pt-3 pb-3 text-white"></i>

                  <span>
                    <p class="pb-2 text-dark">Pending Orders</p>
                  </span>
                </div>
              </a>
            </div>

            <div class="col-lg-5">
              <a href="{% url 'myadmin:viewordered' %}" class=>
                <div class="custom-card text-center">
                  <i class="fas fa-border-all fa-3x pt-3 pb-3 text-white"></i>
                  <span>
                    <p class="pb-2 text-dark">View Ordered</p>
                  </span>
                </div>
              </a>
            </div>

          </div>
        
      </div>

    </div>
      
     

      {% else %}
       <!--Grid row-->
 <div class="row wow fadeIn mt-2">
  
  {% for item in object_list %}
  <div class="col-lg-3 col-md-6 mb-4 mt-5"> <!--Grid column-->

    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view overlay">
        <img src="{{item.image.url}}" class="card-img-top rounded"
          alt="{{item.slug}}" > 
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <!--Category & Title-->
        <a href="{{item.slug}}" class="grey-text">
          <h5>{{item.title}}</h5>
        </a>
        <h5>
          <strong>
            <a href="{{item.slug}}" class="dark-grey-text">{{item.get_category_display}}
              <span class="badge badge-pill {{item.get_label_display}}-color">NEW</span>
            </a>
          </strong>
        </h5>

        <h4 class="font-weight-bold blue-text">
          <strong>{{item.price}}</strong>
        </h4>

      </div>
      <!--Card content-->

    </div>
    <!--Card-->

  </div>
  <!--Grid column-->
  {% endfor %} 

</div>
<!--Grid row-->

<!--Pagination-->

{% if is_paginated %}

<nav class="d-flex justify-content-center wow fadeIn">
<ul class="pagination pg-blue">
  
  {% if page_obj.has_previous %}
    <!--Arrow left-->
    <li class="page-item ">
      <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
  {% endif %}
  <li class="page-item active">
    <a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}
      <span class="sr-only">(current)</span>
    </a>
  </li>
  
  {% if page_obj.has_next %}
  <li class="page-item">
    <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Next</span>
    </a>
  </li>
  {% endif %}
    
  
</ul>
</nav>
<!--Pagination-->

    {% endif %}
      
{% endif %}
  
{% else %}
<div class="row wow fadeIn mt-2">
  
  {% for item in object_list %}
  <div class="col-lg-3 col-md-6 mb-4 mt-5"> <!--Grid column-->

    <!--Card-->
    <div class="card">
      <!--Card image-->
      <div class="view overlay">
        <img src="{{item.image.url}}" class="card-img-top rounded"
          alt="{{item.slug}}" > 
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <!--Category & Title-->
        <a href="{{item.slug}}" class="grey-text">
          <h5>{{item.title}}</h5>
        </a>
        <h5>
          <strong>
            <a href="{{item.slug}}" class="dark-grey-text">{{item.get_category_display}}
              <span class="badge badge-pill {{item.get_label_display}}-color">NEW</span>
            </a>
          </strong>
        </h5>

        <h4 class="font-weight-bold blue-text">
          <strong>{{item.price}}</strong>
        </h4>

      </div>
      <!--Card content-->

    </div>
    <!--Card-->

  </div>
  <!--Grid column-->
  {% endfor %} 

</div>
<!--Grid row-->

<!--Pagination-->

{% if is_paginated %}

<nav class="d-flex justify-content-center wow fadeIn">
<ul class="pagination pg-blue">
  
  {% if page_obj.has_previous %}
    <!--Arrow left-->
    <li class="page-item ">
      <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
  {% endif %}
  <li class="page-item active">
    <a class="page-link" href="?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}
      <span class="sr-only">(current)</span>
    </a>
  </li>
  
  {% if page_obj.has_next %}
  <li class="page-item">
    <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Next</span>
    </a>
  </li>
  {% endif %}
    
  
</ul>
</nav>
<!--Pagination-->

    {% endif %}

{% endif %}

{% endblock %}