{% extends 'base_layout.html' %}

{% block content %}
 
<div class="row wow fadeIn mt-2">

    <!--Grid column-->
    <div class="col-md-6 mt-3">

      <img src="{{object.image.url}}" class="img-fluid" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mt-2">

      <!--Content-->
      <div class="p-4">

        <div class="mb-3">
          <a href="">
            <span class="badge purple mr-1">{{object.get_category_display}}</span>
          </a>
          
          {% if object.get_label_display == 'danger' %}
          <a href="">
            <span class="badge {{object.get_label_display}}-color mr-1">New</span>
          </a>
          
          {% elif object.get_label_display == 'secondary'%}
          <a href="">
            <span class="badge {{object.get_label_display}}-color mr-1">Best Seller</span>
          </a>
          {% else %}

          {% endif %}
          
        </div>

        <p class="lead">
          <!-- <span class="mr-1">
            <del>$200</del>
          </span> -->
          <span>${{object.price}}</span>
        </p>

        <p class="lead font-weight-bold">Description</p>

        <p>{{object.description}}</p>       
        
        
        {% if request.user.is_authenticated %} <!-- Check user is authenticated -->
          {% if request.user.is_superuser %} <!-- Check Superuser -->
            <button class="btn btn-danger btn-md my-0 p" type="submit">
              <i class="fas fa-exclamation mr-1"></i>
              You are an Admin         
            </button>

          {% else %} <!-- Check product quantity -->
            {% if object.product_quantity == 0 %}
                  <button class="btn btn-danger btn-md my-0 p" type="submit">
                    <i class="fas fa-exclamation mr-1"></i>
                    Sorry This item is out of stock           
                  </button>
            
            {% elif object.status == False %}
                  <button class="btn btn-danger btn-md my-0 p" type="submit">
                    <i class="fas fa-exclamation mr-1"></i>
                    Sorry This item is Unavaliable         
                  </button>
            {% else %}            
                  <a href="{{object.get_add_to_cart_url}}">
                    <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                      <i class="fas fa-shopping-cart ml-1"></i>
                    </button>          
                  </a>
            {% endif %} <!-- Check product quantity -->

          {% endif %}
          


          {% else %} <!-- Check user is authenticated -->

          <button class="btn btn-danger btn-md my-0 p" type="submit">
            <i class="fas fa-exclamation mr-1"></i>
            Please Log in to add item to cart           
          </button>

        {% endif %} 
          

        
     
         
      </div>
      <!--Content-->

    </div>
    <!--Grid column-->

  </div>
  
        <!--Grid row-->
        <div class="row d-flex justify-content-center wow fadeIn mt-1 mb-2">

          <!--Grid column-->
          <div class="col-md-6 text-center">
  
            <h4 class="my-4 h4">You May also like</h4>
  
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row wow fadeIn">
  
          <!--Grid column-->
          
          {% for item in items|slice:":3" %}          
            
          <div class="col-lg-4 col-md-12 mb-4">
           
          <a href="{% url 'core:productdetail' slug=item.slug %}">
            <img src="{{item.image.url}}" class="img-fluid" alt="">

          </a>
  
          </div>
          <!--Grid column-->
          {% endfor %}
        </div>
        <!--Grid row-->
   
{% endblock %}