{% extends 'base_layout.html' %}

{% block content %}
    <h1>Update Product</h1>
    
     <div class="row">         
        <div class="col-md-8">             
            <form action="{% url 'myadmin:updateproduct' slug=item.slug %}" method="POST" class="border border-light p-5 form-container" enctype="multipart/form-data">
                {% csrf_token %}
                 
                <div class="row">
                    <div class="col">
                        <label for="" class="">Title : </label>                    
                        {{form.title}}
                    </div>
                    <div class="col">
                        <label for="" class="">Price :</label>                    
                        {{form.price}}         
                        <p id="error-text" class="text-danger"></p>           
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <label for="" class="">Slug :</label>                    
                        {{form.slug}}
                    </div>
                    
                    <div class="col">
                        <label for="" class="">Product Qty :</label>                    
                        {{form.product_quantity}}
                        <p id="error-text2" class="text-danger"></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="" class="">Description :</label>                    
                        {{form.description}}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="" class="">Category :</label>  
                        {{form.category}}
                    </div>
                    <div class="col">
                        <label for="" class="">Label :</label> 
                        {{form.label}}
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">       
                        <p id="error-text1" class="text-danger"></p>                                                         
                        {{form.image}}
                    </div>

                    <div class="col">
                      <label for="" class="text-danger">Product Avaliabality</label>  
                      <div class="custom-form-control">
                        {{form.status}} 
                      </div>
                            
                      
                    </div>
                </div>                

                <div class="float-right mt-2">
                    <a href="{% url 'myadmin:updateproductlist' %}" class="btn btn-danger"> 
                        Cancle
                    </a>
                    <input type="submit" value="Submit" class="btn btn-primary" id="my-button" onclick="checkValidation();">
                </div>
                 
              </form>
        </div>

        <div class="col-md-4">
            <label for="">Current Image : {{item.image}}</label>
            <img src="{{item.image.url}}" alt="" width="500px" height="350px">
        </div>
    </div> 

    <script>   

$(document).ready(function(){
        var _URL = window.URL;
        $("#id_image").change(function (e) {
            if ((file = this.files[0])) {
                img = new Image();                
                 img.onload = function () {
                    if(img.width < 1383 && img.height < 1037){   
                        document.getElementById("error-text1").innerHTML = 'Image Is Too Small. To Upload Please Change Image Dimension';  
                        $('#error-text1').show('slow')                                            
                        $('#my-button').hide('slow')
                    }
                    else if(img.width > 1385 && img.height > 1039){
                        document.getElementById("error-text1").innerHTML = 'Image Is Too Large. To Upload Please Change Image Dimension';  
                        $('#error-text1').show('slow')                                            
                        $('#my-button').hide('slow')
                    }
                    else{
                        $('#error-text1').hide('slow')
                        $('#my-button').show('slow')
                    }
                 };
                img.src = _URL.createObjectURL(file);
            }
            console.log(document.getElementById("id_image"))
        });
    })


    titleInput.addEventListener('keyup', (e) => {
    slugInput.setAttribute('value', slugify(titleInput.value));
    });

        function checkValidation(){ 
                 
            var price = document.getElementById('id_price').value;
            var qty = document.getElementById('id_product_quantity').value;  
                 
            if (isNaN(price) || price < 0){
                $( "form" ).submit(function( event ) {
                event.preventDefault();
                document.getElementById("error-text").innerHTML = 'Price Is Invalid';
                });
            } 
            if (isNaN(qty) || qty < 0){
                $( "form" ).submit(function( event ) {
                event.preventDefault();
                document.getElementById("error-text2").innerHTML = 'Product Quantity Is Invalid';
                });
            }        
        }
    </script>
{% endblock content %}
    