{% extends 'base_layout.html' %}

{% block content %}


<div class="card mt-3 mb-3 text-center" style="width: 410px;margin: 0 auto;">
  <h3 class="card-header text-center text-white info-color">Sign up</h3>
  <form action="{% url 'account:sign_up' %}" method="POST" class="text-center p-5 mb-3" style="color: #757575;">
    {% csrf_token %}
      {{form.username}}
      {{form.email}}
      {{form.password1}}
      {{form.password2}}
      {% if form.errors %}
      <p class="text-dnager">Invalid Form</p>
      {% endif %}
      <p class="mt-3">
        Already have account? <a href="{% url 'account:log_in' %}">
          Login Here
        </a>
      </p>
      <input type="submit" value="Sing Up" class="btn btn-primary mt-2">
  
  </form>
  
</div>
<script>
    document.getElementById("id_username").className = "form-control mb-3";  
    document.getElementById("id_username").placeholder = "Enter User Name"; 
    document.getElementById("id_email").className = "form-control mb-3";  
    document.getElementById("id_email").placeholder = "Enter Your Email"; 
    document.getElementById("id_password1").className = "form-control mt-4";
    document.getElementById("id_password1").placeholder = "Enter Password"; 
    document.getElementById("id_password2").className = "form-control mt-4";
    document.getElementById("id_password2").placeholder = "Retype Password";
</script>

{% endblock content %}
